.conteiner{
    margin-top: 50px;
    margin-left: 20px;
    width: 2480;
    height: 1400px;
    border: 1px solid #04195c;
}
.texto1
{
   width: 900px; 
   height: 125px;  
   margin: 25px 30px 30px 50px;   
}
.texto2
{
   width: 900px; 
   height: 125px;  
   margin: 0px 30px 30px 50px;
   
}
.texto3
{
   width: 900px; 
   height: 125px;  
   margin: 425px 30px 30px 50px;   
}
.texto4
{
   width: 900px; 
   height: 187px;  
   margin: 52px 30px 30px 50px;   
}

#checkIn
{
   width: 980px;
   height: 730px;
   margin: -65px 0px 0px -30px;
}
#checkIn1
{
   width: 380px;
   height: 140px;
   margin: 13px 0px 0px 0px;
}
#declaro
{
   width: 1024px;
   height: 600px;
   margin: 0px 0px 0px 0px;
}
#declaracao
{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
    text-indent: 20px;
    
}
#solicitante
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -3px;
   margin-left: 0px;
}
#tipo_evento
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -62px;
   margin-left: 0px;
}
#dt_evento
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -58px;
   margin-left: 0px;
}
#horario
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -58px;
   margin-left: 0px;
}
#telefone
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -61px;
   margin-left: 0px;
}
#status
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -58px;
   margin-left: 0px; 
}
#agendadoEm
{
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   text-indent: 20px;
   margin-top: -62px;
   margin-left: 0px;
}